<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
	<img height="120" src="images/banner-home-900-3.jpg" width="900">

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <aside id="sidebar">
          <a href="{{ site.base_url }}/index.html">Home</a><br>
          <a href="{{ site.base_url }}/newham.html">New Ham Welcome</a><br>
          <a href="{{ site.base_url }}/aboutus.html">About Us</a><br>
          <a href="{{ site.base_url }}/calendar.html">Calendar</a><br>
          <a href="{{ site.base_url }}/events.html">Events</a><br>
          <a href="{{ site.base_url }}/fieldday.html">Field Day</a><br>
          <a href="{{ site.base_url }}/forsale.html">For Sale</a><br>
          <a href="{{ site.base_url }}/funstuff.html">Fun Stuff</a><br>
          <a href="{{ site.base_url }}/meetings.html">Meetings</a><br>
          <a href="{{ site.base_url }}/membership.html">Membership</a><br>
          <a href="{{ site.base_url }}/nets.html">Nets</a><br>
          <a href="{{ site.base_url }}/newsletter.html">Newsletter</a><br>
          <a href="{{ site.base_url }}/officers.html">Officers</a><br>
          <a href="{{ site.base_url }}/photos.html">Photos</a><br>
          <a href="{{ site.base_url }}/resources.html">Resources</a><br>
          <a href="{{ site.base_url }}/sigs.html">SIGS</a><br>
          <a href="{{ site.base_url }}/sponsors.html">Sponsors</a><br>
        </aside>

        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
