<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
	      <img height="100%" src="/images/bannersub-900.jpg" width="100%" alt="banner">
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <aside id="sidebar">
          {% for item in site.data.navigation %}
            {% assign item_link_with_baseurl = item.link | prepend: site.baseurl %}
            <a class="sidebar{% if page.url == item.link or page.url == item_link_with_baseurl %} current{% endif %}" href="{{ item.link }}">{{ item.name }}</a><br>
          {% endfor %}
        </aside>

        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
